/*VARIABLES*/
.background__color--blue {
  background-color: blue; }

.background__color--Red {
  background-color: Red; }

.background__color--yellow {
  background-color: yellow; }

/*GLOBALES*/
/*Normalize*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Estlos Globales */
.container {
  max-width: 1080px;
  margin: 0 auto; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 62.5%;
  font-family: 'Montserrat', serif;
  background-image: linear-gradient(to bottom, #cbced1, #a8b3bf, #8599ad, #62809c, #3e678b); }

main {
  display: grid;
  grid-template-rows: 30% 70%;
  justify-items: center; }

/*HELPERS*/
/* MEDIA QUERIES */
@media screen and (max-width: 1012px) {
  .mediaflex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; } }

/*PARTIALS*/
/*HEADER*/
header__logo {
  flex-basis: 30%; }

header a {
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 1.8em;
  padding: 1rem; }

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em; }

header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0em;
  min-height: 10vh;
  flex-basis: 70%;
  list-style-type: none; }
  header .navbar__item {
    font-family: 'Montserrat',sans-serif;
    border-left: solid 5px black;
    border-bottom: solid 5px black;
    text-align: center; }
    header .navbar__item:hover {
      width: 15em;
      font-size: 1.3em;
      cursor: pointer;
      border-right: solid 5px white;
      border-top: solid 5px white;
      text-align: center; }

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: 200px auto;
  max-width: 1080px;
  padding-bottom: 50px; }

.footer__img {
  margin: auto 25px; }

.footer__text {
  font-size: 40px;
  font-family: 'Montserrat',sans-serif; }

/*VIEWS*/
/* Estilos Index */
.about__left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 30%;
  margin: 50px auto 30px;
  padding: 50px;
  font-size: 2.2em;
  text-align: center;
  border-left: solid 0.2em black;
  border-bottom: solid 0.2em black;
  box-shadow: 0 0 40px -10px #000; }
  .about__left:hover {
    border-right: solid 0.2em white;
    border-top: solid 0.2em white; }

.about__right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 30%;
  margin: 50px auto 30px;
  padding: 50px;
  font-size: 2.2em;
  text-align: center;
  border-right: solid 0.2em white;
  border-top: solid 0.2em white;
  box-shadow: 0 0 40px -10px #000; }
  .about__right:hover {
    border-left: solid 0.2em black;
    border-bottom: solid 0.2em black; }

.position {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-bottom: 100px; }

/*ZONAS*/
.zonas {
  margin-top: 100px;
  text-align: center;
  align-items: center; }
  .zonas__img {
    width: 59%;
    margin: 50px 220px;
    border: solid 0.5em black;
    box-shadow: 0 0 40px -10px #000; }

.title {
  font-size: 5em; }

.horarios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  margin: 50px auto 300px;
  width: 100%; }
  .horarios__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    width: 70%;
    height: 50%;
    margin: 100px auto 30px;
    padding: 50px;
    font-size: 2.5em;
    text-align: center;
    border-left: solid 0.2em black;
    border-bottom: solid 0.2em black;
    box-shadow: 0 0 40px -10px #000; }
    .horarios__info:hover {
      border-right: solid 0.2em white;
      border-top: solid 0.2em white; }
    .horarios__info--negrita {
      font-weight: bold; }

.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  margin-top: 100px;
  margin-bottom: 300px; }
  .prices__img {
    margin-top: 100px;
    border: solid 0.5em black;
    box-shadow: 0 0 40px -10px #000; }

.prices__text {
  font-size: 5em; }

/* Estilos Contacto */
.form {
  width: 440px;
  height: 540px;
  background: #e6e6e6;
  border: solid 0.5em black;
  /*border-radius:8px;*/
  box-shadow: 0 0 40px -10px #000;
  margin: 150px auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
  position: relative; }
  .form__text {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c; }

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat',sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2; }
  input:focus {
    border-bottom: 2px solid #78788c; }

p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 20px;
  color: #5a5a5a; }

button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Montserrat',sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s; }
  button:hover {
    background: #78788c;
    color: #fff; }

.contact {
  position: relative;
  bottom: -15px;
  right: 20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  margin-top: 50px;
  padding: 16px 4px 16px 0;
  /*border-radius:6px;*/
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000; }

.phone {
  margin: 0 5px 0 15px; }

.email {
  margin: 0 5px 0 15px; }

.btn-whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  color: #fff;
  position: fixed;
  margin-bottom: 0px;
  right: 50px;
  border-radius: 50%;
  line-height: 550px;
  text-align: center;
  z-index: 999; }
