/*VARIABLES*/
/*GLOBALES*/
/*Normalize*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Estlos Globales */
.container {
  max-width: 1080px;
  margin: 0 auto; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 62.5%;
  font-family: 'Montserrat', serif;
  background-image: linear-gradient(to bottom, #cbced1, #a8b3bf, #8599ad, #62809c, #3e678b); }

main {
  display: grid;
  grid-template-rows: 30% 70%;
  justify-items: center; }

/*HELPERS*/
/* MEDIA QUERIES */
@media screen and (max-width: 1012px) {
  .mediaflex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .horarios__media {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/*PARTIALS*/
/*HEADER*/
header__logo {
  flex-basis: 30%; }

header a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-size: 1.8em;
  padding: 1rem; }
  header a:hover {
    color: #000;
    text-decoration: none; }

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em; }

header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0em;
  min-height: 10vh;
  flex-basis: 70%;
  list-style-type: none; }
  header .navbar__item {
    font-family: "Montserrat", serif;
    border-left: solid 0.3rem #000;
    border-bottom: solid 0.3rem #000;
    text-align: center; }
    header .navbar__item:hover {
      color: #000;
      width: 15em;
      font-size: 1.3em;
      cursor: pointer;
      border-right: solid 0.3rem #fff;
      border-top: solid 0.3rem #fff;
      text-align: center; }
    header .navbar__item--active {
      font-family: "Montserrat", serif;
      width: 15em;
      color: #fff;
      text-align: center;
      font-size: 1.3em;
      cursor: pointer;
      border-right: solid 0.3rem #fff;
      border-top: solid 0.3rem #fff;
      border-left: solid 0.3rem #000;
      border-bottom: solid 0.3rem #000; }

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 12.5rem auto;
  max-width: 67.5rem;
  padding-bottom: 3.1rem; }

.footer__img {
  margin: auto 1.6rem; }

.footer__text {
  font-size: 2.5rem;
  font-family: "Montserrat", serif; }

/*VIEWS*/
/* Estilos Index */
.about__left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 30%;
  margin: 3.1rem auto 1.9rem;
  padding: 3.1rem;
  font-size: 2.2em;
  text-align: center;
  border-left: solid 0.2em #000;
  border-bottom: solid 0.2em #000;
  box-shadow: 0 0 2.5rem -0.63rem #000; }
  .about__left:hover {
    border-right: solid 0.2em #fff;
    border-top: solid 0.2em #fff; }

.about__right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 30%;
  margin: 3.1rem auto 1.9rem;
  padding: 3.1rem;
  font-size: 2.2em;
  text-align: center;
  border-right: solid 0.2em #fff;
  border-top: solid 0.2em #fff;
  box-shadow: 0 0 2.5rem -0.63rem #000; }
  .about__right:hover {
    border-left: solid 0.2em #000;
    border-bottom: solid 0.2em #000; }

.position {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-bottom: 100px; }

/*ZONAS*/
.zonas {
  margin-top: 6.3rem;
  text-align: center;
  align-items: center; }
  .zonas__img {
    width: 59%;
    margin: 3.1rem 13.8rem;
    border: solid 0.5em #000;
    box-shadow: 0 0 2.5rem -0.63rem #000; }

.title {
  font-size: 5em; }

.horarios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  margin: 3.1rem auto 18.8rem;
  width: 100%; }
  .horarios__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    width: 70%;
    height: 50%;
    margin: 6.25rem auto 1.9rem;
    padding: 3.1rem;
    font-size: 2.5em;
    text-align: center;
    border-left: solid 0.2em #000;
    border-bottom: solid 0.2em #000;
    box-shadow: 0 0 2.5rem -0.63rem #000; }
    .horarios__info:hover {
      border-right: solid 0.2em #fff;
      border-top: solid 0.2em #fff; }
    .horarios__info--negrita {
      font-weight: bold; }

.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  margin-top: 6.3rem;
  margin-bottom: 18.8rem; }
  .prices__img {
    margin-top: 6.3rem;
    border: solid 0.5em #000;
    box-shadow: 0 0 2.5rem -0.63rem #000; }

.prices__text {
  font-size: 5em; }

/* Estilos Contacto */
.form {
  width: 27.5rem;
  height: 36.8rem;
  background: #e6e6e6;
  border: solid 0.5em black;
  box-shadow: 0 0 2.5rem -0.63rem #000;
  margin: 9.4rem auto;
  padding: 1.3rem 1.9rem;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
  position: relative; }
  .form__text {
    margin: 0.6rem 0;
    padding-bottom: 0.6rem;
    width: 11.2rem;
    color: #78788c;
    border-bottom: 3px solid #78788c; }

input {
  width: 100%;
  padding: 0.63rem;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", serif;
  transition: all .3s;
  border-bottom: 0.13rem solid #bebed2; }
  input:focus {
    border-bottom: 0.13rem solid #78788c; }

p:before {
  content: attr(type);
  display: block;
  margin: 1.8rem 0 0;
  font-size: 2.0em;
  color: #5a5a5a; }

button {
  float: right;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0 0;
  font-family: "Montserrat", serif;
  border: 0.13rem solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s; }
  button:hover {
    background: #78788c;
    color: #fff; }

.contact {
  position: relative;
  bottom: -0.9rem;
  right: 1.3rem;
  background: #50505a;
  color: #fff;
  width: 20rem;
  margin-top: 3.2rem;
  padding: 1rem 0.3rem 1rem 0;
  font-size: 1.3em;
  box-shadow: 0.6rem 0.6rem 2.5rem -0.9rem #000; }

.phone {
  margin: 0 0.3rem 0 0.9rem; }

.email {
  margin: 0 0.3rem 0 0.9rem; }

.btn-whatsapp {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  color: #fff;
  position: fixed;
  margin-bottom: 0px;
  right: 3.1rem;
  border-radius: 50%;
  line-height: 34.4rem;
  text-align: center;
  z-index: 999; }
