/*FOOTER*/
footer {
    @include flex(row, center, center, 20px);
    /*display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;*/
    margin: 100px auto 0;
    max-width: 1080px;
    &__img {
        width: 100px;
        height: 100px;
        
    }
}
/* Cambiar fuente y nombre de la clase*/
.text-foot {
    font-size: 40px;
    font-family: 'Caveat', cursive;
    font-family: 'Shizuru', cursive;
}