/*FOOTER*/
footer {
    @include flex(column, center, center, 1em);
    margin: 12.5rem auto;
    max-width: 67.5rem;
    padding-bottom: 3.1rem;
}

.footer__img {
    margin: auto 1.6rem;
}

.footer__text {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}