/*FOOTER*/
footer {
    @include flex(column, center, center, 0px);
    margin: 200px auto;
    max-width: 1080px;
    padding-bottom: 50px;
}
.footer__img {
    margin: auto 25px;
    }

.footer__text {
        font-size: 40px;
        font-family:'Montserrat',sans-serif;
    }
    


