/* Estilos Index */
.about {
    width: 30%;
    height: 40%;
    margin: 150px auto 300px;
    padding: 50px;
    font-size: 1.9em;
    text-align: justify;
    background-color: map-get($background__color, yellow );
    /*border: solid 10px rgb(10, 6, 6);
    border-radius: 1em;*/
    &--border {
        @extend .about;
        border: solid 10px black;
        border-radius: 1.5em;
    }
}

.position {
    @include flex(row, space-around, center, 1em);
}

