.prices {
    @include flex(column, space-around, center, 1em);
    margin-top:6.3rem;
    margin-bottom: 18.8rem;
        &__img {
    margin-top: 6.3rem;
    border: solid 0.5em black;
    box-shadow:0 0 2.5rem -0.63rem #000;
        }
}

.prices__text {
    font-size: 5em ;
}