.prices {
    @include flex(column, space-around, center, 1em);
    margin-top:100px;
    margin-bottom: 300px;
        &__img {
    margin-top: 100px;
    border: solid 0.5em black;
    box-shadow:0 0 40px -10px #000;
        }
}

.prices__text {
    font-size: 5em ;
}