/*ZONAS*/

.zonas {
    margin-top: 6.3rem;
    text-align: center;
    align-items: center;

    &__img {
        margin: 3.1rem 13.8rem;
        border: solid 0.5em $principal;
        box-shadow: 0 0 2.5rem -0.63rem $principal;

        &:hover {
            width: 70%;
            margin: auto;
        }
    }
}

.title {
    font-size: 5em;
}