/*ZONAS*/

.zonas {
    @include flex(column, space-between, center, 0 rem);
    margin-top: 6.3rem;
    text-align: center;

    &__img {
        margin-top: 3.1rem;
        border: solid 0.3rem $principal;
        box-shadow: 0 0 2.5rem -0.63rem $principal;
    }
}

.title {
    font-size: 5em;
    flex-wrap: wrap;
}