/*ZONAS*/

.zonas {
    width: 100%;
    height: 70%;
    margin: 50px auto 300px;
    padding: 50px;
    font-size: 3em;
    text-align: center;
    /* Borrar esto o cambiarlo */
    border: solid 10px black;
    border-radius: 1em;
    /* background-image: url(../imagenes/Color\ Hunt\ Palette\ dddddd125d983c8dadf5a962.png);
*/
}