/*HELPERS*/
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1012px) {

    .flex-row {
        display: flex;
        flex-wrap: wrap;

    }
}