/*HELPERS*/
/*.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}*/

@mixin flex($direction, $justify, $align, $gap){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1012px) {

    .flex-row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
}